/* Fonts */

@font-face {
  font-family: 'PicNic';
  src: local('PicNic'), url(./assets/fonts/PicNic/PicNic-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Karrik';
  src: local('Karrik'), url(./assets/fonts/Karrik/Karrik-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Karrik';
  font-style: italic;
  src: local('Karrik'), url(./assets/fonts/Karrik/Karrik-Italic.woff2) format('woff2');
}

.is-PicNic {
  font-family: PicNic;
}

.is-Karrik {
  font-family: Karrik !important;
}

.is-size-7 {
  font-size: 0.85rem;
}

/* Global */

.app {
  font-family: Karrik;
  color: black;
}

#top {
  min-height: 85vh;
}

/* Colors */

.has-text-pink {
  color: #E086D3 !important;
}

.has-text-green {
  color: #2FBF71 !important;
}

.has-text-red {
  color: #DE1A1A !important;
}

/* Headings */

.main {
  font-size: 9em !important;
}

.title.main {
  margin-bottom: 2rem;
}

/* Buttons */

.button-container {
  font-family: Karrik;
}

.button-image:hover, .button-text:hover {
  cursor: pointer;
}

.in-ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Levels */

.level.centered {
  justify-content: center;
}

.centered > .level-item {
  flex-grow: 0 !important; 
}

.level-item-left {
  justify-content: left;
}

@media screen and (max-width: 768px) {
  .level-item:not(:last-child) {
    margin: 0;
  }
}

/* Footer */

.footer {
  margin-top: 2rem;
  padding: 2rem 2rem 2rem;
  background-color: white;
}

/* Forms */

.label {
  font-weight: normal;
  margin-bottom: 0;
  font-family: Karrik;
  color: black;
  width: 40vw;
}

.label:not(:last-child) {
  margin-bottom: 0;
}

input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-family: Karrik;
  font-size: 1rem;
  color: black;
  height: 25px;
}

input::placeholder {
  color: lightgray;
}

.dropdown-trigger {
  min-width: 9rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-bottom: 1px solid black;
}

.dropdown-menu {
  min-width: 9rem;
}

.dropdown-content {
  border: none;
  box-shadow: none;
  padding: 0;
}

.dropdown-item {
  padding: 0.25rem 0.5rem 0 0.5rem;
}

.dropdown-item:hover {
  border-bottom: 1px solid black;
}

/* Generic flexbox stuff */

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}
